<nav class="admin-nav">
  <ul class="main-link">
    <li>
      <a class="button panel" href="/user/admin-panel">Panel</a>
    </li>
  </ul>
  <ul class="button-links">
    <li>
      <a class="button chat" href="/user/chat">Chat</a>
    </li>
    <li>
      <a class="button profile" href="/user/profile">Profile</a>
    </li>
    <li>
      <a class="button logout" href="/user/logout">Logout</a>
    </li>
  </ul>
</nav>