<nav class="admin-nav">
  <ul class="main-link">
    <li>
      <a class="button blue panel" href="/user/admin-panel">Panel</a>
    </li>
  </ul>
  <ul class="button-links">
    <li>
      <a class="button purple chat" href="/user/chat">Chat</a>
    </li>
    <li>
      <a class="button green profile" href="/user/profile">
        <% if (typeof user !== 'undefined') { %>
        <p>Logged as:</p>
        <p><%= user.name %> <%= user.surname %></p>
        <% } else {%>
        Profile
        <% } %>
      </a>
    </li>
    <li>
      <a class="button red logout" href="/user/logout">Logout</a>
    </li>
  </ul>
</nav>