<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="content">
    <div class="error">
      <h1>Sorry, this page is unavailable</h1>
      <a class="button" href="/">Back to main page</a>
    </div>
  </div>
</body>

<%- include('./partials/footer.ejs') %>