<%- include('./partials/head.ejs') %>

<body>
  <div class="content">
    <div class="error">
      <h1><%= message %></h1>
      <a class="button" href="/">Back to main page</a>
    </div>
  </div>
</body>

<%- include('./partials/footer.ejs') %>