.content {
  padding: 40px;
}

.error {
  text-align: center;
}

.center-link {
  text-align: center;
  
}

.button {
  text-decoration: none;
  color: crimson;
  font-size: 18px;
  display: inline-block;
  border: 2px solid crimson;
  padding: 4px;
  border-radius: 10px;
  text-align: center;
}

.button:hover {
  color: white;
  background-color: crimson;
}

a.create {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: inline-block;
  border: 2px solid black;
  padding: 4px;
  border-radius: 10px;
}

a.create:hover {
  color: white;
  background-color: black;
}

form.board,
form.thread {
  max-width: 300px;
  margin: auto;
  margin-top: 100px;
}

input[type=text] {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}

input[type=submit] {
  display: inline-block;
  margin: auto;
}

h1, h3 {
  text-align: center;
}

li {
  list-style-type: none;
}

footer {
  text-align: center;
  margin-top:300px;
}

ul.boards {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#message-div {
  position: absolute;
  width: 300px;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#message-div > #error-message {
  display: none;
  padding: 5px 3px;
  color:white;
  background-color: red;
}

#message-divheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

textarea {
  width: 99%;
  margin: auto;
  padding: 0;
  display: block;
}

form.message {
  margin: 10px 10px;
}

form.message > input[type=submit] {
  margin-top: 5px;
  cursor: pointer;
  font-weight: 700;
  width: 100%;
}

.message-box {
  border-bottom: 1px solid grey;
}
