body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: red;
}

.content {
  padding: 40px;
}

.error {
  text-align: center;
}

.center-link {
  text-align: center;
  
}

.button {
  text-decoration: none;
  color: red;
  font-size: 18px;
  display: inline-block;
  border: 2px solid red;
  padding: 4px;
  border-radius: 10px;
  text-align: center;
}

.button:hover {
  color: white;
  background-color: red;
}

a.create {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: inline-block;
  border: 2px solid black;
  padding: 4px;
  border-radius: 10px;
}

a.create:hover {
  color: white;
  background-color: black;
}

form.board,
form.thread,
form.login,
form.profile {
  max-width: 300px;
  margin: auto;
  margin-top: 100px;
}

input[type=text],
input[type=password] {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}

input[type=submit] {
  display: inline-block;
  margin: auto;
}

h1, h3 {
  text-align: center;
}

li {
  list-style-type: none;
}

footer {
  text-align: center;
  margin-top:300px;
}

ul.boards {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#message-div {
  display: block;
  position: absolute;
  width: 300px;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#message-div > #error-message {
  display: none;
  padding: 5px 3px;
  color:white;
  background-color: red;
}

#message-divheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

#message-divheader > .close-cross {
  font-size: 40px;
  cursor: pointer;
}

textarea {
  width: 99%;
  margin: auto;
  padding: 0;
  display: block;
}

form.message {
  margin: 10px 10px;
}

form.message > input[type=submit] {
  cursor: pointer;
  font-weight: 700;
  width: 100%;
}

.message-box {
  border: 1px solid grey;
  margin: 5px 0;
  padding: 5px;
  border-radius: 2px;
}

.message-data {
  font-size: 14px;
  text-transform: lowercase;
  color: #888;
}

.delete-message {
  float: right;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  color: rgb(190, 40, 40);
  margin-right: 5px;
}

.post-id {
  display: inline;
  cursor: pointer;
  color: #444;
}

.incoming-replies {
  display: inline;
  font-size: 12px;
}

.thread-box {
  border: 1px solid #888;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

input[type=file] {
  width: 100%;
  margin: 5px 0px;
}

.message-box > img {
  margin-top: 10px;
  margin-left: 5px;
}

.last-messages > .message-box {
  background-color: rgb(235, 235, 235);
}

.title-message {
  margin-bottom: 40px;
}

.user-registration > span.error {
  display: none;
  color: red;
  text-align: center;
}

.user-registration > span.success {
  display: none;
  color: green;
  text-align: center;
}

/* .user-registration > form > select {
  width: 100%;
  margin-bottom: 15px;
} */
select {
  width: 100%;
  margin-bottom: 15px;
}

.admin-nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.admin-nav>ul.button-links {
  display: flex;
}

.admin-nav a.button {
  border: 2px solid;
  border-radius: 5px;
  padding: 3px 6px;
  margin: 0 5px;
}

.admin-nav a.button.logout {
  border-color:red;
  color: red;
}

.admin-nav a.button.logout:hover {
  border-color:red;
  color: white;
  background-color: red;
}

.admin-nav a.button.profile {
  border-color:green;
  color: green;
}

.admin-nav a.button.profile:hover {
  border-color:green;
  color: white;
  background-color: green;
}

.admin-nav a.button.panel {
  border-color:blue;
  color: blue;
}

.admin-nav a.button.panel:hover {
  border-color:blue;
  color: white;
  background-color: blue;
}

.admin-nav a.button.chat {
  border-color: #9505C3;
  color: #9505C3;
}

.admin-nav a.button.chat:hover {
  border-color:#9505C3;
  color: white;
  background-color: #9505C3;
}